@page "/Account/Manage/PersonalData"

@using Microsoft.AspNetCore.Identity
@using OwlNet.Infrastructure.Identity

@inject UserManager<ApplicationUser> UserManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Personal Data</PageTitle>

<StatusMessage />
<MudText Typo="Typo.h6">Personal Data</MudText>

<MudGrid>
    <MudItem xs="12" md="6">
        <MudText>Your account contains personal data that you have given us. This page allows you to download or delete that data.</MudText>
        <MudText>
            <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
        </MudText>
        <form action="Account/Manage/DownloadPersonalData" method="post">
            <AntiforgeryToken />
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">Download</MudButton>
        </form>
        <MudButton Href="Account/Manage/DeletePersonalData" Variant="Variant.Filled" Color="Color.Error" Class="mt-2">Delete</MudButton>
    </MudItem>
</MudGrid>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        var user  = await UserManager.GetUserAsync(HttpContext.User);
        if (user is null)
        {
            RedirectManager.RedirectToInvalidUser(UserManager, HttpContext);
        }
    }
}
